.title{
    text-align: center;
}

.section{
    margin: 0 auto;
    background-color: cornflowerblue;
    width: 1024px;
    border-radius: 5px;
    margin-top: 30px;
}

.container {
    margin-bottom: 15px;
    display: block;
    text-align: center;
}

#answers {
    margin-top: 30px;
}